{
  "congratulations": "Gratulacje!",
  "docs_links_paragraph": "Jeśli po raz pierwszy zwiedzasz Nette, powinieneś przeczytać <a href='https://doc.nette.org/quickstart'>Quick Start</a>, <a href='https://doc.nette.org'>dokumentację</a>, <a href='https://blog.nette.org'>blog</a>i <a href='https://forum.nette.org'>forum</a>.",
  "we_hope_you_enjoy_nette": "Mamy nadzieję, że podobają Ci się Nette!",
  "web_project_successfully_created": "Pomyślnie utworzyłeś swój projekt w %project%."
}