{
  "congratulations": "Gratulujeme!",
  "docs_links_paragraph": "Ak skúmate Nette prvýkrát, mali by ste si prečítať <a href='https://doc.nette.org/quickstart'>Rýchly štart</a>, <a href='https://doc.nette.org'>dokumentáciu</a>, <a href='https://blog.nette.org'>blog</a>a <a href='https://forum.nette.org'>fórum</a>.",
  "we_hope_you_enjoy_nette": "Dúfame, že sa vám páči Nette!",
  "web_project_successfully_created": "Úspešne ste vytvorili svoj webový projekt v %project%"
}