{
  "congratulations": "Blahopřejeme",
  "docs_links_paragraph": "Pokud zkoumáte Nette poprvé, měli byste si přečíst <a href='https://doc.nette.org/quickstart'>Rychlý start</a>, <a href='https://doc.nette.org'>dokumentaci</a>, <a href='https://blog.nette.org'>blog</a>a <a href='https://forum.nette.org'>fórum</a>.",
  "we_hope_you_enjoy_nette": "Doufáme, že se Vám Nette líbí!",
  "web_project_successfully_created": "Úspěšně jste vytvořili svůj webový projekt v %project%."
}